@import "tailwindcss";

@theme {
  --color-primary: #8B4513;     /* brown */
  --color-primary-dark: #5C2E0F;
  --color-primary-light: #A0522D;
  --color-black: #000000;
  --color-white: #FFFFFF;
}


@media print {
  body * {
    visibility: hidden; /* hide everything */
  }
  .print-area, .print-area * {
    visibility: visible; /* show only report */
  }
  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}